*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */

img{
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

header{
  padding: 60px;
  text-align: center;
  background-image: url(./images/Comida-transformed.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

header h1{
  font-size: 40px;
  margin: 0 0 20px;
}

header div{
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

/* NAV */

.navbar{
  display: flex;
  justify-content: center;
  background-color: #0E6655;
}

.navbar a{
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover{
  background-color: #0B5345;
}

@media screen and (max-width: 700px){
    .navbar{
      flex-direction: column;
    }
}

/* ASIDE Y SECTION*/

.linea{
  display: flex;
  flex-wrap: wrap;
}

.lado{
  flex: 30%;
  padding: 20px;
  background-color: #e2e2e2;
}

.main{
  flex: 70%;
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width:700px){
    .linea{
      flex-direction: column;
    }
}

.cocineros{
  border-radius: 10px;
  height: 500px;
  width: 100%;
}

aside h2, aside h3{
  color: #0E6655;
}

.videolink img{
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
}

.videolink h4{
  opacity: 0;
  position: absolute;
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 10px;
  transition: all 0.3s;
}

.videolink:hover h4{
  opacity: 1;
}

.platos {
  background-color: #f0f0f0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.platos img {
  max-width: 100%;
  height: fit-content;
  width: 100%;
  border-radius: 8px;
}

.platos h4 {
  margin-top: 8px;
  color: #0E6655;
}

@media screen and (max-width:700px){
    .main{
      grid-template-columns: 1fr;
    }
    .platos img{
      height: fit-content;
    }
}

/* FOOTER */

footer{
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}

/* RECTRABAJO */

.main2{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}
.main2 div h2,h3{
  color: #0E6655;
}

.contenedor{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

@media screen and (max-width:700px){
  .contenedor{
    grid-template-columns: 2fr;
  }
  .platos img{
    height: fit-content;
  }
}

.contenedor2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding-bottom: 20px;
}

/* FUNCIONA */

.main3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: sandybrown;
}

.intro {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.intro h1 {
  margin: 0;
  font-size: 32px;
  color: #0E6655;
}

.intro p {
  margin: 5px 0 0;
  color: #888;
}

.seccion {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.seccion:nth-child(even) {
  flex-direction: row-reverse;
}

.imagen {
  flex: 1;
  text-align: center;
}

.imagen img {
  max-width: 100%;
  height: auto;
}

.contenido {
  flex: 2;
  padding: 20px;
}

.contenido h2 {
  margin-top: 0;
  color: #0E6655;  
}

.contenido p {
  margin: 10px 0;
}

.contenido a {
  color: #ffa500;
  text-decoration: none;
}

.contenido a:hover {
  text-decoration: underline;
}

.boton1 {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.boton1:hover {
  background-color: #e69500;
}

/* FORMULARIO */

.main4 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFDD0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.carta {
  text-align: center;
}

.carta h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #0E6655;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grupo {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.grupo label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.grupo select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.boton2 {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
}

.boton2:hover {
  background-color: #e69500;
}

/* PRECIOS */

.main5 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.tabla {
  text-align: center;
}

.tabla h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #0E6655;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #ffa500;
  color: white;
  padding: 10px;
  border: 1px solid #ddd;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
